* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #04040e;
  color: #f0f4ff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 2px;
}